<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <servlet>
        <servlet-name>VisitCounter</servlet-name>
        <servlet-class>org.example.demo.VisitCounter\</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Welcome</servlet-name>
        <servlet-class>org.example.demo.SimpleRequestDispatcher.Welcome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SimpleReqDispatcher</servlet-name>
        <servlet-class>org.example.demo.SimpleRequestDispatcher.SimpleReqDispatcher</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VisitCounter</servlet-name>
        <url-pattern>/Visit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Welcome</servlet-name>
        <url-pattern>/Welcome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SimpleReqDispatcher</servlet-name>
        <url-pattern>/SimpleReqDispatcher</url-pattern>
    </servlet-mapping>
</web-app>